<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'img/handShake.png' %}">
    <!-- Packages for the Menu -->
        <!-- Pure CSS Framework -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <!-- BootStrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <!-- OG -->
        <script src="{% static 'js/index.js' %}"></script>
    <title>Mon Frère | {{teams.name}} | Welcome</title>
</head>
<body>
    <p hidden id="cafeName">{{teams.name}}</p>
    
    <h1>{{teams.name}} Cafe</h1>
<!-- DROP DOWN MENU STARTS -->
    <nav role="navigation">
        <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
        <input type="checkbox" >
        
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
        <span></span>
        <span></span>
        <span></span>
        
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
        <ul id="menu" class="nav nav-pills">
            <li id="item_1" class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li id="item_2" class="nav-item">
                <a href="/schedule" class="nav-link" onclick="menuLimits()">Schedule</a>
            </li>
            <li id="item_3"class="nav-item">
                <a href="/safety" class="nav-link">Safety</a>
            </li>
            <li id="item_4" class="nav-item">
                <a href="#" class="nav-link"  onclick="featureNotAvailable()">Union Board</a>
            </li>
            <li id="item_5" class="nav-item dropdown" data-bs-auto-close="true" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" onclick="menuLimits(), dontDrop()">Weekly Menu</a>
                <div id="drop-1" class="dropdown-menu">
                    <a class="dropdown-item" href="#" onclick="featureNotAvailable()">Heritage Station</a>
                    <a class="dropdown-item" href="#" onclick="featureNotAvailable()">Burger Station</a>
                    <a class="dropdown-item" href="#">Salad Station</a>
                </div>
            </li>
            <li id="item_6" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Weekly Email</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" >This Week's Email</a>
                        <a class="dropdown-item" href="#">Previous Week</a>
                    </div>
            </li>
        </ul>
        </div>
    </nav>





    <!-- ENDS -->
    <div class="errors">
        {%if messages%}
        <ul>
            {%for message in messages%}
            <li>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
    <div  style="display: none" class="wrapper">
        </div>
        <div class="box">
            <div class="header">
                <h2>Translation Tool</h2>
                <form action="/result" method="POST">
                    {%csrf_token%}
                    <label for="search" id="label-search">Search:</label>
                    <input type="text" name="search" id="searchBar" placeholder="Enter Item">
                    <label  for="language" id="label-language">Language:</label>
                    <select 
                        name="language" id="language-bar">
                        <option value="english">English - Default</option>
                        <option value="french">Françaises</option>
                        <option value="spanish">Español</option>
                        <!-- <option value="nepali">नेपाली</option> -->
                    </select>
                    <label for="dept" id="label-dept">Section:</label>
                    <select name="dept" id="kitchenArea">
                        <option value="all">All Sections</option>
                        <option value="dmo">DMO</option>
                        <option value="boh">Back of House</option>
                        <option value="foh">Front of House</option>
                    </select>
                    <button type="submit" id="submit-btn">Search</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>