<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'img/handShake.png' %}">
    <script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
    <script src="{% static 'js/index.js' %}"></script>
    <title>Mon Frère | {{teams.name}} | Welcome</title>
</head>
<body>
    <h1>{{teams.name}} Cafe</h1>
<!-- DROP DOWN MENU STARTS -->

    <!-- Hamburger Menu -->
    <label for="toggle">
        <i class="fas fa-bars hamburger"></i>
    </label>

    <!-- HEADER BEGINS -->
    <header>
        <input type="checkbox" id="toggle" name="toggle"> 
                <nav class="navigation--responsive">
                    <ul>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/schedule">Schedules</a>
                        </li>
                        <li>
                            <a href="#" onclick="featureNotAvailable()">Union Board</a>
                        </li>
                        <li>
                            <a href="/safety">Safety</a>
                        </li>
                        <li>
                            <a href="#" onclick="featureNotAvailable()">Weekly Menu</a>
                        </li>
                        <li>
                            <a href="#" onclick="featureNotAvailable()">Weekly Email</a>
                        </li>
                    </ul>
                </nav><!-- responsive nav ends-->
    </header>



    <!-- ENDS -->
    <div class="errors">
        {%if messages%}
        <ul>
            {%for message in messages%}
            <li>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
    <div class="wrapper">
        </div>
        <div class="box">
            <div class="header">
                <h2>Translation Tool</h2>
                <form action="/result" method="POST">
                    {%csrf_token%}
                    <label for="search" id="label-search">Search:</label>
                    <input type="text" name="search" id="searchBar" placeholder="Enter Item">
                    <label  for="language" id="label-language">Language:</label>
                    <select 
                        name="language" id="language-bar">
                        <option value="english">English - Default</option>
                        <option value="french">Françaises</option>
                        <option value="spanish">Español</option>
                        <!-- <option value="nepali">नेपाली</option> -->
                    </select>
                    <label for="dept" id="label-dept">Section:</label>
                    <select name="dept" id="kitchenArea">
                        <option value="all">All Sections</option>
                        <option value="dmo">DMO</option>
                        <option value="boh">Back of House</option>
                        <option value="foh">Front of House</option>
                    </select>
                    <button type="submit" id="submit-btn">Search</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>