<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'img/handShake.png' %}">
    <title>Mon Frère | {{teams.name}} | Welcome</title>
</head>
<body>
    <div class="errors">
        {%if messages%}
        <ul>
            {%for message in messages%}
            <li>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h2>Welcome {{teams.name}} Cafe Member</h2>
                <form action="/result" method="POST">
                    {%csrf_token%}
                    <label for="search" id="label-search">Search:</label>
                    <input type="text" name="search" id="searchBar" placeholder="Enter Item">
                    <label  for="language" id="label-language">Language:</label>
                    <select 
                        name="language" id="language-bar">
                        <option value="english">English - Default</option>
                        <option value="french">Françaises</option>
                        <option value="spanish">Español</option>
                        <!-- <option value="nepali">नेपाली</option> -->
                    </select>
                    <label for="dept" id="label-dept">Section:</label>
                    <select name="dept" id="kitchenArea">
                        <option value="all">All Sections</option>
                        <option value="dmo">DMO</option>
                        <option value="boh">Back of House</option>
                        <option value="foh">Front of House</option>
                    </select>
                    <button type="submit" id="submit-btn">Search</button>
                </form>
                <div class="contact">
                    <form action="/contact">
                        {% csrf_token %}
                        <input type="hidden">
                        <button type="Submit" id="contact-btn">Contact Card</button>
                    </form>
                </div>
                <div class="exit">
                    <form action="/exit">
                        {% csrf_token %}
                        <input type="hidden">
                        <button type="Submit" id="exit-btn">Exit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>